<mat-card class="w-full flex flex-col">
  <mat-card-content>
    <div class="flex flex-row gap-6 justify-center items-center">
      <div class="flex flex-col gap-2 w-50">
        <mat-label>
          Name: <span>{{ detail?.name }}</span>
        </mat-label>
        <mat-label>
          Role: <span>{{ detail?.roleId | roleDisplay }}</span>
        </mat-label>
        <mat-label>Level: {{ detail?.level }}</mat-label>
        <mat-label>Exp: {{ detail?.exp }}</mat-label>
        <mat-label>Hp: {{ caculator.hpCalculator(detail) }} </mat-label>
        <mat-label>Mp: {{ caculator.mpCalculator(detail) }} </mat-label>
        <mat-label
          >Stamina: {{ caculator.staminaCalculator(detail) }}
        </mat-label>
        <mat-label>Str: {{ detail?.str }}</mat-label>
        <mat-label>Int: {{ detail?.int }}</mat-label>
        <mat-label>Agi: {{ detail?.agi }}</mat-label>
        <mat-label>Vit: {{ detail?.vit }}</mat-label>
        <mat-label>Luck: {{ detail?.luck }}</mat-label>
      </div>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
