<div class="container flex justify-center items-center w-full h-full m-auto">
  @if(isLogin) {
  <mat-card class="w-100 flex justify-center p-4">
    <mat-card-title class="text-center pb-6"> User</mat-card-title>
    <mat-card-content>
      <div class="p-4">
        <span>Username:</span>
        <span>{{ user?.username }}</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="flex flex-row gap-6 justify-center">
        <button type="primary" mat-raised-button (click)="logout()">
          Logout
        </button>
      </div>
    </mat-card-footer>
  </mat-card>
  } @else if (!isRegister) {
  <form [formGroup]="userForm">
    <mat-card class="w-100 flex justify-center p-4">
      <mat-card-title class="text-center pb-6"> Login </mat-card-title>
      <mat-card-content>
        <div class="flex flex-col gap-4">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>
        </div>
        @if(error) {
        <mat-error>{{ error }}</mat-error>
        }
      </mat-card-content>
      <mat-card-footer>
        <div class="flex flex-row gap-6 justify-center">
          <button
            type="submit"
            type="primary"
            mat-flat-button
            (click)="login()"
          >
            Login
          </button>
          <button type="primary" mat-raised-button (click)="isRegister = true">
            Register
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </form>
  } @else {
  <form [formGroup]="userRegisterForm">
    <mat-card class="w-100 flex justify-center p-4">
      <mat-card-title class="text-center pb-6"> Login </mat-card-title>
      <mat-card-content>
        <div class="flex flex-col gap-4">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Verifty Password</mat-label>
            <input matInput formControlName="verifyPassword" type="password" />
          </mat-form-field>
        </div>
        @if(error) {
        <mat-error>{{ error }}</mat-error>
        }
      </mat-card-content>
      <mat-card-footer>
        <div class="flex flex-row gap-6 justify-center">
          <button
            type="submit"
            type="primary"
            mat-flat-button
            (click)="register()"
          >
            Register
          </button>
          <button type="primary" mat-raised-button (click)="isRegister = false">
            Cancel
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </form>
  }
</div>
